/* Disposición principal de la autenticación */
.dis-autenticacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .dis-autenticacion__tarjeta {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
    background-color: var(--color-fondo);
  }
  
  .dis-autenticacion__panel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  
  .dis-autenticacion__panel--izquierdo {
    clip-path: ellipse(78% 70% at 21% 49%);
    height: 100%;
    text-align: center;
    background-color: var(--color-primario);
    color: var(--color-texto-primario);
  }
  
  .dis-autenticacion__contenido {
    text-align: center;
    max-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dis-autenticacion__titulo {
    font-size: 24px;
    margin-bottom: 8px;
    color: var(--color-texto-primario);
  }
  
  .dis-autenticacion__descripcion {
    font-size: 16px;
    text-align: left;
    margin-bottom: 24px;
    color: var(--color-texto-secundario);
  }
  
  .dis-autenticacion__imagen {
    max-width: 100%;
    max-height: 100%;
    user-select: none;
  }
  
  .dis-autenticacion__panel--derecho {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: var(--color-texto-primario);
  }
  
  /* Estilos del formulario general */
  .formulario-general,
  .dis-autenticacion__imagen-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formulario-general__grupo {
    margin-bottom: 15px;
    position: relative;
    text-align: left;
    width: 100%;
  }
  
  .formulario-general__input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--color-primario);
    border-radius: 16px;
    transition: border-color 0.3s;
    font-size: 16px;
    background-color: var(--color-fondo-alterno);
    outline: none;
    color: var(--color-texto-primario);
  }
  
  .formulario-general__input:focus {
    box-shadow: 0 0 2px rgba(0, 138, 230, 0.3);
  }
  
  .formulario-general__error {
    font-size: 12px;
    position: absolute;
    left: 0;
    color: var(--color-error);
  }
  
  .formulario-general__enlace-Container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  
  .formulario-general__enlace {
    font-size: 12px;
    text-decoration: none;
    padding: 2px;
    color: var(--color-primario);
  }
  
  .formulario-general__enlace:hover {
    transform: translateY(-1px);
    transition: transform 0.3s;
  }
  
  .formulario-general__boton {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--color-primario);
    color: var(--color-fondo);
  }
  
  .formulario-general__boton:hover {
    transform: translateY(-1px);
  }
  
  /* Responsividad para dispositivos móviles y tablets */
  @media (max-width: 1024px) {
    .dis-autenticacion__tarjeta {
      width: 700px;
      height: 400px;
    }
  
    .formulario-general__boton {
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .dis-autenticacion__tarjeta {
      flex-direction: column;
      width: 100%;
      height: auto;
    }
  
    .dis-autenticacion__panel--izquierdo,
    .dis-autenticacion__panel--derecho {
      height: auto;
      border-radius: 0;
      padding: 20px;
    }
  
    .dis-autenticacion__panel--izquierdo {
      clip-path: none;
    }
  
    .dis-autenticacion__contenido {
      max-width: 90%;
    }
  
    .dis-autenticacion__titulo {
      font-size: 20px;
    }
  
    .dis-autenticacion__descripcion {
      font-size: 14px;
    }
  
    .formulario-general__boton {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .dis-autenticacion__tarjeta {
      width: 100%;
      padding: 10px;
    }
  
    .dis-autenticacion__panel--izquierdo,
    .dis-autenticacion__panel--derecho {
      padding: 10px;
    }
  
    .dis-autenticacion__titulo {
      font-size: 18px;
    }
  
    .dis-autenticacion__descripcion {
      font-size: 12px;
    }
  }