@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --color-primario: #007bff;
  --color-hover-primario: #0056b3;
  --color-fondo: #ffffff;
  --color-texto-primario: #000000;
  --color-texto-secundario: #666666;
  --color-fondo-alterno: #FEFEFA;
  --color-error: #dc3545;
  --color-exito: #28a745;
  --color-advertencia: #ffc107;
  --color-info: #17a2b8;
  --color-hover-blanco: #E9F2FF;
  --font-principal: 'Roboto', sans-serif;

}

body {
  font-family: var(--font-principal);
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.contenido-principal {
  height: 100vh;
  padding-top: 40px;
}