.notification-card {
  background-color: var(--color-fondo);
  border-radius: 12px;
  padding: 0.7rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 100%; /* Ocupa todo el ancho del contenedor */
}

.notification-card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification-card.unread {
  border-left: 4px solid var(--color-primario);
}

.notification-content {
  display: flex;
  flex-direction: column;
}

.notification-date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.date-icon {
  width: 1rem;
  height: 1rem;
  color: var(--color-texto-secundario);
}

.date-text {
  font-size: 0.875rem;
  color: var(--color-texto-secundario);
}

.notification-title {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color-texto-primario);
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}

.notification-message {
  color: var(--color-texto-secundario);
  line-height: 1.5;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}

.view-more-button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-primario);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.view-more-button:hover {
  color: var(--color-hover-primario);
}