.graficos {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .grafico {
    flex: 1 1 46%;
    max-width: 46%;
    background-color: #fff;
    border: 1px solid #ededed;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .grafico:hover {
    transform: translateY(-5px);
  }
  
  .grafico h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }
  
  @media (max-width: 1024px) {
    .graficos {
      flex-wrap: wrap;
    }
  
    .grafico {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .graficos {
      flex-direction: column;
    }
  
    .grafico {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }  