.contenedor-tarjeta {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  box-sizing: border-box;
}

.tarjeta {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.tarjeta__titulo {
  font-size: 12px;
  margin: 0;
  color: #444444;
  text-align: center;
  font-weight: 400;
  padding: 8px;
}

.tarjeta__contenido {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  border-top: 1px solid #606060;
  width: 100%;
  padding: 8px;
}

.tarjeta__texto {
  font-size: 16px;
  font-weight: bold;
  color: #2e2e2e;
  text-align: center;
  margin: 0;
}

.tarjeta__icono {
  font-size: 20px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.tarjeta__icono--verde {
  color: #0eb17f;
}

.tarjeta__icono--rojo {
  color: #ff5636;
}

.tarjeta__icono--amarillo {
  color: #ffc12e;
}

.tarjeta__icono--azul {
  color: #7f77ec;
}

/* Media Queries */
@media (max-width: 1200px) {
  .tarjetas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .tarjetas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .tarjetas {
    grid-template-columns: 1fr;
  }

  .tarjeta {
    padding: 5px;
  }

  .tarjeta__icono {
    font-size: 18px;
  }

  .tarjeta__titulo {
    font-size: 10px;
  }

  .tarjeta__texto {
    font-size: 12px;
  }
}