.contenedor {
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Para evitar scroll no deseado */
}
.diseño-principal {
    display: flex;
}

.navegacion-lateral {
    flex: 0 0 230px;
    height: 100vh;
    overflow-y: hidden;
}

.contenido-principal {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}