.navegacion-lateral {
  flex: 0 0 250px; /* Ajusta el ancho del sidebar */
  max-height: 100vh;
  overflow-y: auto;
  background-color: #FEFEFA;
  color: #333;
  padding: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
}

.navegacion-lateral__cabecera {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  margin-top: 2.5rem;
  margin-bottom: 20px;
}

.navegacion-lateral__cabecera h2 {
  color: #333;
  font-size: 18px;
}

.logo-cabecera {
  height: 40px;
  width: 40px;
}

.logo-cabecera img {
  resize: none;
  user-select: none;
}

.navegacion-lateral__menu {
  flex: 1 1 0%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto; /* Permite el desplazamiento vertical */
  max-height: calc(100vh - 100px); /* Ajusta la altura si es necesario */
  scrollbar-width: none; /* Firefox: Ocultar la barra de desplazamiento */
}

.navegacion-lateral__menu::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera: Ocultar la barra de desplazamiento */
}
.menu-item {
  margin-bottom: 0px;
}

.menu-item__cabecera {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  gap: 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menu-item__cabecera:hover,
.navegacion-lateral__pie .menu-item:hover {
  background-color: #E9F2FF;
  color: #ffffff;
}

.menu-icono {
  margin-right: 5px;
  color: #666;
}

.menu-texto {
  font-weight: 500;
  flex-grow: 1;
  font-size: .9rem;
  text-decoration: none;
  color: #333;
}

.sub-menu {
  list-style: none;
  padding: 0 0 0 1rem;
  display: none;
  max-height: none; /* Asegúrate de que no esté limitado */
  overflow-y: auto;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.menu-item.activo .sub-menu {
  display: block;
  max-height: 200px;
  opacity: 1;
}


.sub-menu a {
  display: block;
  padding: 12px 32px;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.sub-menu a:hover {
  background-color: #E9F2FF;
  color: #0c66e4;
}

.sin-estilo-enlace {
  text-decoration: none;
  color: inherit;
}

.navegacion-lateral__pie {
  /* border-top: 0.1px solid #666; */
  /* padding: .5rem 0; */
  padding-bottom: 2rem;
}

.navegacion-lateral__pie .menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  gap: 10px;
  border-radius: 4px;
}
.cerrar-sesion{
  color: #ff5636;
}

@media (max-width: 768px) {
  .navegacion-lateral {
    width: 100%;
    height: auto;
}
.sub-menu {
  left: 0;
  padding-left: 20px;
  position: relative;
}
}  