/* variables.css */
:root {
    --color-primario: #598cdf;
    --color-fondo: #ffffff;
    --color-fondo-secundario: #FEFEFA;
    --color-texto-primario: #1B1B1B;
    --color-texto-secundario: #666;
    --color-error: #e65032;
    --color-exito: #0BDA51;
    --color-advertencia: #DFFF00;
    --sombra-caja: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  
    --familia-fuente: 'Arial', sans-serif;
    --tamaño-fuente-pequeño: 0.75rem;
    --tamaño-fuente-mediano: 1rem;
    --tamaño-fuente-grande: 1.25rem;
    --tamaño-fuente-muy-grande: 1.5rem;
    --peso-fuente-normal: 400;
    --peso-fuente-negrita: 700;
    --altura-linea: 1.5;
  
    --espaciado-xs: 0.75rem;
    --espaciado-sm: 1rem;
    --espaciado-md: 1.5rem;
    --espaciado-lg: 2rem;
    --espaciado-xl: 3rem;
  
    --ancho-borde: 1px;
    --radio-borde: 0.25rem;
    --color-borde: #ccc;
  
    --altura-boton: 2.5rem;
    --padding-boton: 0.75rem 1.5rem;
    --ancho-tarjeta: 45rem;
    --altura-tarjeta: 28rem;
    --altura-input: 2.7rem;
  
    --duracion-transicion: 0.3s;
    --transicion-facil: ease-in-out;
  
    --z-index-dropdown: 1000;
    --z-index-modal: 1050;
    --z-index-tooltip: 1070;
  }
  
  /* Tema Oscuro */
  [data-theme="dark"] {
    --color-primario: #bb86fc;
    --color-fondo: #121212;
    --color-fondo-secundario: #1E1E1E;
    --color-texto-primario: #ffffff;
    --color-texto-secundario: #aaaaaa;
    --color-error: #cf6679;
    --color-exito: #03dac6;
    --color-advertencia: #ffd600;
  }  